parameters:
    themeDir: test

extensions:
	keeper: ViewKeeper\DI\ViewKeeperHelperExtension

keeper:
	controls: %themeDir%/<category>/<name>/<view>
	presenters: %themeDir%/<category>/<name>/<view>
	layouts: %themeDir%/@<view>
	caseInseNsitiveS: %themeDir%/<category>/<name>/<view>
	presenterWithModule: %themeDir%/<module>Module/presenters/<name>/<view>