parameters:
    themeDir: test

extensions:
	keeper: ViewKeeper\DI\ViewKeeperHelperExtension

keeper:
	controls: '%themeDir%/controls/<name>/<view>'
	presenters: '%themeDir%/presenters/<name>/<view>'
	layouts: '%themeDir%/@<view>'
	caseInseNsitiveS: '%themeDir%/caseinsensitives/<name>/<view>'
	presenterWithModule: '%themeDir%/<module>Module/presenters/<name>/<view>'